body {
  width: 1146px;
  margin: 0 auto;
  padding: 5px 27px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #323232;
  text-transform: none;

  background-color: #849D8F;
}

.map__interactive {
  border: 0;
  width: 1200px;
  height: 430px;
}

.visually-hidden:not(:focus):not(:active),
.input__checkbox.visually-hidden,
.input__radio.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #fefefe;

  -webkit-box-shadow: 0 1px 2px 0 #ac1000;
          box-shadow: 0 1px 2px 0 #ac1000;
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to top, #e74a35, #f26843);
  border-radius: 50px;
  border: 0;
}

.button:hover {
  text-decoration: none;
  color: #fefefe;

  -webkit-box-shadow: 0 2px 2px 0 #ac1000;

          box-shadow: 0 2px 2px 0 #ac1000;
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))),
                    -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                    linear-gradient(to top, #e74a35, #f26843);
}

.button:active {
  text-decoration: none;

  -webkit-box-shadow: inset 0 2px 2px 0 #942718;

          box-shadow: inset 0 2px 2px 0 #942718;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    -o-linear-gradient(top, #e74a35, #f26843);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))),
                    -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)),
                    linear-gradient(to bottom, #e74a35, #f26843);
}

.text-align-right {
  text-align: right;
}

.header__menu,
.gifts,
.catalog,
.benefits__list,
.social-links,
.footer__about,
.breadcrumbs,
.pagination,
.header__menu-inner {
  list-style-type: none;
}

/* Выше перечислены все ul */

.input {
  padding: 15px;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #323232;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.input::-ms-input-placeholder,
.textarea::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.input::placeholder,
.textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}

.input:hover,
.textarea:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
          box-shadow: 0 0 0 1px rgba(154, 154, 154, 0.52);
}

.input:focus,
.textarea:focus {
  -webkit-box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
          box-shadow: 0 0 0 1px rgba(46, 136, 228, 0.52);
  outline: none;
  border: 1px solid rgba(46, 136, 228, 0.52);
}

a {
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255,255,255,.2);
          text-decoration-color: rgba(255,255,255,.2);
}

a:hover {
  color: #ffbc9e;
  -webkit-text-decoration: underline #ffbc9e;
          text-decoration: underline #ffbc9e;
}

/* Ниже стили для шапки */

.header {
  display: inline-block;

  vertical-align: middle;
  width: 100%;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-item {
  margin: 3px 0px;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 10px;
  margin: 24px 0;

  font-size: 16px;
  font-weight: 700;
}

.header__menu-inner {
  display: none;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;

  background-color: #F8F7F4;
}

.header__menu-inner--style {
  z-index: 99;

  position: absolute;
  left: -15px;
  top: 15px;
  padding: 10px;
}

.header__menu-inner-item--bold {
  padding-bottom: 3px;

  font-size: 14px;
  font-weight: 700;

  border-bottom: 1px solid rgba(50, 50, 50, .2);
}

.header__menu-inner a {
  color: #323232;
}

.header__menu-item {
  position: relative;
  display: inline-block;

  vertical-align: middle;

  font-size: 16px;
  font-weight: 700;
}

.header__menu-item:hover .header__menu-inner {
  display: inline-block;

  vertical-align: middle;
}

.header__menu-inner-item {
  padding: 0;
}

.header__menu-inner-link {
  display: block;
  padding: 7px 20px;
}

.header__menu-inner {
  line-height: 160%;

  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.header__menu-inner-link:hover {
  color: #323232;
  text-decoration: none;

  background-color: #fbded8;
}

.header__menu-inner-item:first-child .header__menu-inner-link {
  border-radius: 5px 5px 0 0;
}

.header__menu-inner-item:last-child .header__menu-inner-link {
  border-radius: 0 0 5px 5px;
}

.header__menu-inner-link:active {
  text-decoration: none;

  background-color: #f6b5a5;
}

a.header__menu-inner-link--active {
  text-decoration: none;
  color: #ffffff;

  background-color: #d07058;
}

.header__menu-item:hover .header__menu-link {
  text-decoration: none;
  color: #323232;

  background-color: #f7f6f3;
}

.header__menu-link:active {
  text-decoration: none;
  color: #323232;

  -webkit-box-shadow: inset 0 2px 1px 0 #696969;

          box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
}

.header__menu-link {
  padding: 4px 13px 4px 12px;

  border-radius: 20px;
}

.header__menu-link--active {
  text-decoration: none;
  color: #ffffff;

  background-color: #d07058;
}

.header__user-buttons {
  padding: 17px 11px 9px 0;

  text-align: right;
  font-size: 14px;
  font-weight: 500;
}

.header__find-link {
  display: inline-block;

  background-color: rgba(255,255,255,.2);
  border-radius: 50px;
}

.header__user-buttons-find:hover .header__find-link {
  background-color: #f8f7f4;
}

.header__find-item,
.header__enter-item,
.header__basket-item {
  display: inline-block;
  width: 33px;
  height: 33px;

  vertical-align: middle;

  background-size: 21px;
  background-position: center;
  background-repeat: no-repeat;
}

.header__find-item {
  background-size: 17px;
  background-image: url(../img/loupe.svg);
}

.header__user-buttons-find:hover .header__find-item {
  background-image: url(../img/loupe-black.svg);
}

.header__enter-item {
  width: 24px;
  background-position-x: -2px;
  background-image: url(../img/entrance.svg);
}

.header__user-buttons-enter:hover .header__enter-item {
  background-image: url(../img/entrance-black.svg);
}

.header__basket-item {
  background-position-y: bottom;
  height: 20px;
  background-image: url(../img/basket.svg);
}

.header__user-buttons-basket:hover .header__basket-item:not(.header__basket-item--full) {
  background-image: url(../img/basket-black.svg);
}

.header__basket-item--full {
  background-image: url(../img/basket-red.svg);
}

.header__user-buttons-enter:hover .header__enter-link,
.header--basket-link:hover,
.header__user-buttons-basket:hover .header__basket-link {
  color: #323232;

  background-color: #f8f7f4;
}

.header__user-buttons-basket--full .header__basket-link {
  color: #323232;

  background-color: #f8f7f4;
}

.header__user-buttons-find:hover .header__find-field {
  display: inline-block;

  vertical-align: middle;
}

.header__find-field {
  display: none;

  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.header__find-field input {
  width: 311px;
  margin: 20px 15px;
}

.enter-field__button {
  padding: 14px 25px;
  max-height: 50px;
}

.header__user-buttons-enter:hover .header__enter-field,
.header__user-buttons-basket:hover .basket-table {
  display: inline-block;

  vertical-align: middle;
}

.header__enter-field,
.basket-table {
  display: none;

  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.basket-table {
  width: 539px;
  padding: 20px;

  border-radius: 5px;
}

.basket-table--style {
  text-align: right;
}

.basket-table-button,
.basket-table__product-sum {
  right: 20px;
}

.basket-table-button {
  bottom: 20px;
  padding: 13px 15px;
}

.basket-table__product-name,
.basket-table__product-cost,
.basket-table__product-weight {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: left;
  color: #323232;
}

.basket-table__product-price {
  color: #999999;
}

.basket-table__product-cost,
.basket-table__product-weight {
  white-space: nowrap;
}

.basket-table__product {
  margin-bottom: 30px;
}

.basket-table__content {
  position: relative;

  border-bottom: 1px solid #cacac7;
  border-collapse: separate;
}

.basket-table__product-sum {
  bottom: 80px;

  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: #323232;
}

.basket-table__product-delete-link {
  font-size: 30px;
  font-weight: 400;
  color: #323232;
}

.basket-table__product-delete-link:hover {
  color: #323232;
}

.basket-table__product-delete-link {
  display: block;
  margin-right: 10px;
  width: 11px;
  height: 11px;

  background-image: url(../img/delete_basket.svg);
  background-repeat: no-repeat;
}

.header__enter-field a {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.header__enter-field form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 277px;
  padding: 20px;
}

.header__enter-field input {
  margin-bottom: 20px;
}

.header__enter-field button,
.enter-field__forgot-password {
  display: inline-block;

  vertical-align: middle;

  text-decoration: underline;
  color: #323232;
}

.header__enter-field button {
  margin-right: 0;
}

.enter-field__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enter-field__forgot-password a {
  display: block;
}

.enter-field__password-reminder:hover,
.enter-field__new-user:hover {
  color: #ffbc9e;
}

.enter-field__password-reminder:active,
.enter-field__new-user:active {
  color: #ffbc9e;
}

.enter-field__new-user {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;

  font-size: 13px;
  font-weight: 400;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.header__enter-field button {
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  color: #fefefe;
}

.header__user-buttons-find,
.header__user-buttons-enter {
  position: relative;
  margin-right: 5px;
  display: inline-block;
}

.header__user-buttons--style {
  z-index: 99;

  position: absolute;
  right: 0;
  top: 30px;

  padding-top: 10px;
  padding-right: 10px;
  margin: -4px;
}

.header__basket-link,
.header__enter-link {
  padding: 6px 16px 8px 18px;

  color: white;

  background-color: rgba(255,255,255,.2);
  border: 1px solid transparent;
  border-radius: 20px;
}

.header__basket-link {
  padding: 6px 14px 8px 10px;
}

.header__user-buttons a {
  white-space: nowrap;

  text-decoration: none;
}

.header__user-buttons-basket {
  position: relative;
  display: inline-block;
  margin-right: -9px;
}

.header__user-buttons-basket img,
.header__enter-link img {
  display: inline;

  padding: 8px 3px;
  vertical-align: middle;
}

/* Выше стили для шапки */

.contacts {
  display: inline-block;

  vertical-align: middle;
  float: right;

  font-weight: 700;
  line-height: 0;
  color: #FFFFFF;
}

.contacts__phone {
  font-size: 22px;
}

.contacts__phone a {
  text-decoration: none;
}

.contacts__worktime {
  margin: -4px 0;

  font-size: 14px;
  text-align: right;
  line-height: 16px;
}

/* Выше блок с контактами */

.carousel {
  padding: 85px 0;
  margin-top: -183px;

  text-align: center;

  background-repeat: no-repeat;
  background-image: -o-radial-gradient(circle closest-side, rgba(255,255,255,.5), transparent);
  background-image: radial-gradient(circle closest-side, rgba(255,255,255,.5), transparent);
}

.carousel__slide {
  display: none;

  height: 584px;
  margin-top: 50px;
  text-align: center;

  -webkit-transition: background-image 1s;

  -o-transition: background-image 1s;

  transition: background-image 1s;
  background-image: url(../img/carousel__1.png);
  background-repeat: no-repeat;
  background-position: center bottom;
}

.carousel__slide h2 {
  margin-top: -273px;
  margin-bottom: 42px;

  font-weight: 700;
  font-size: 60px;
  color: #FFFFFF;
  line-height: 60px;
}

.carousel__slide img {
  visibility: hidden;
}

.full-basket {
  padding: 13px 41px;

  font-size: 32px;
}

.carousel__slider {
  position: relative;
}

.carousel__slider-buttons {
  position: absolute;

  bottom: 79px;
  left: 0;

  font-size: 0;
}

.carousel__slider-buttons label {
  display: inline-block;

  vertical-align: top;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.product-1:checked ~ .carousel__slider label[for="product-1"],
.product-2:checked ~ .carousel__slider label[for="product-2"],
.product-3:checked ~ .carousel__slider label[for="product-3"] {
  background-color: #ffffff;
}

.carousel__bg-helper {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;

  -webkit-transition: background-color 1s;

  -o-transition: background-color 1s;

  transition: background-color 1s;
}

@-webkit-keyframes carousel-slide-show {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes carousel-slide-show {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.product-1:checked ~ .carousel__bg-helper {
  background-color: #849d8f;
}

.product-2:checked ~ .carousel__bg-helper {
  background-color: #8996a6;
}

.product-3:checked ~ .carousel__bg-helper {
  background-color: #9d8b84;
}

.product-1:checked + .carousel__slide {
  display: block;
  -webkit-animation: carousel-slide-show 1s ease-in;
          animation: carousel-slide-show 1s ease-in;

  background-image: url(../img/carousel__1.png);
}

.product-2:checked + .carousel__slide {
  display: block;
  -webkit-animation: carousel-slide-show 1s ease-in;
          animation: carousel-slide-show 1s ease-in;

  background-image: url(../img/carousel__2.png);
}

.product-3:checked + .carousel__slide {
  display: block;
  -webkit-animation: carousel-slide-show 1s ease-in;
          animation: carousel-slide-show 1s ease-in;

  background-image: url(../img/carousel__3.png);
}

/* Малинка/шоколадка даром */

.gifts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  margin-top: -101px;
  margin-bottom: 40px;
  padding: 0;
}

.gifts-item {
  position: relative;
  display: inline-block;

  width: 560px;
  height: 229px;

  vertical-align: top;

  border-radius: 15px;
}

.gifts-item--berry {
  background-color: #780e2b;
}

.gifts-item--choco {
  background-color: #3c1f1a;
}

.gifts-item img {
  border-radius: 15px;
  color: #ffffff;
}

.gifts-item__content {
  position: absolute;
  left: -2px;
  top: -3px;

  margin: 20px;

  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
}

.gifts-item__title {
  margin: 0;
  font-size: 35px;
}

.gifts-item__text {
  margin-top: 15px;

  line-height: 22px;
}

.gifts-item__link {
  position: absolute;
  right: 22px;
  bottom: 23px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  padding: 13px 22px;

  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
}

/* Выше блок с акционными товарами */

.catalog-form {
  margin: 22px 0px 28px 0px;

  color: white;
}

.form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
  padding-bottom: 6px;
}

.form-group-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  padding: 8px 12px;
  margin: 8px 0;

  color: white;

  border-radius: 20px;
  background-color: #9FB3A8;
}

.form-group-style--padding {
  padding: 8px 12px;
}

.form-group-style label {
  padding-right: 10px;
}

/* РАЗОБРАТЬСЯ ТУТ С РАДИО И ЧЕКБОКСАМИ!!! */

.form-group__fat-radio + label::before {
  content: "";

  display: inline-block;

  vertical-align: bottom;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  margin-left: 4px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.form-group__fat-radio:checked + label::before {
  background-image: url(../img/radio-on.svg);
}

.form-group__fat-radio:not(:disabled):hover + label::before,
.form-group__filler-checkbox:not(:disabled):hover + label::before {
  opacity: 1;
}

.form-group__fat-radio:disabled + label,
.form-group__filler-checkbox:disabled + label {
  opacity: 0.4;
}

.form-group__filler-checkbox + label::before {
  content: "";

  display: inline-block;

  vertical-align: top;
  width: 24px;
  height: 20px;
  margin: 0;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.form-group__filler-checkbox:disabled + label::before {
  color: #000000;
  opacity: 0.4;
}

.form-group__filler-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
  width: 24px;
  height: 20px;
}

.sort_type {
  width: 100%;

  color: white;

  background-color: transparent;
  border: 1px solid transparent;
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position: right center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  }

  .sort_type option {
    color: #000000;
  }

.sort_type:hover {
  -webkit-filter: invert(1);
          filter: invert(1);
}

/* Скрывает стрелку в IE 10 и 11 */
.sort_type::-ms-expand {
    display: none;
}

.form-group input:hover {
  border: 0;
}

.form-group-button {
  padding: 7px 27px;
  margin-top: 16px;
  margin-left: 2px;

  color: white;

  border: 2px solid white;
  border-radius: 20px;
  background-color: #9FB3A8;
}

.form-group-button:hover {
  color: #323232;
  background-color:#ffffff;
}

.form-group-button:active {
  padding: 9px 29px;

  color: #323232;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
          box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
  border: 0;
}

.form-group > label {
  display: block;

  padding-left: 15px;

  font-size: 14px;
  font-weight: 500;
}

.form-group {
  display: inline-block;

  vertical-align: middle;

  margin-right: 16px;
}

/* Ниже стили для input[type="range"] на странице каталога */

.form-group__range-filter {
  width: 176px;
  margin: 7px;
}

.form-group__range-controls {
  position: relative;

  background-color: #f1f1f1;
}

.form-group__range-controls .form-group__range-scale {
  height: 4px;

  background: #d7dcde;
}

.form-group__range-controls .form-group__range-bar {
  width: 60%;
  height: 4px;
  margin-left: 15%;

  background: #ffffff;
}

.form-group__range-controls .range__toggle {
  position: absolute;
  top: -8px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.form-group__range-controls .range__toggle-min {
  left: 18px;
}

.form-group__range-controls .range__toggle-max {
  left: 116px;
}

/* Выше стили для input[type="range"] на странице каталога */

.catalog-sort {
  width: 190px;
}

.catalog-cost-range {
  width: 220px;
}

.catalog-fat {
  width: 420px;
}

.catalog-filler {
  width: 698px;
}

.catalog-item:hover {
  z-index: 2;

  background-color:rgba(248, 247, 244, .2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.catalog-item__hover-button {
  display: none;
  padding: 13px 17px;
}

.catalog-item:hover .catalog-item__hover-button {
  display: inline-block;

  vertical-align: middle;
}

.catalog-item img {
  border-radius: 50%;
}

.catalog__item-popular {
  position: absolute;
  left: 2px;

  width: 61px;
  height: 61px;

  background-image: url(../img/catalog__item-popular.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog__item {
  position: relative;

  display: inline-block;
  vertical-align: middle;
  margin-top: -44px;
  width: 272px;
  min-height: 405px;

  text-align: center;
  color: #ffffff;
}

.catalog-item-cost {
  margin-top: -65px;

  text-align: left;
}

.catalog-item__price {
  font-weight: 700;
  font-size: 45px;
}

.catalog-item__ruble {
  font-weight: 700;
  font-size: 45px;
}

.catalog-item__weight {
  margin-left: -3px;

  font-weight: 700;
  font-size: 30px;
}

.catalog-item__title {
  margin-top: 20px;
  padding: 3px 8px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
  margin: 2px -5px 5px -1px;
  padding: 44px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.breadcrumbs {
  display: block;

  padding: 0;
  margin: 8px 0 0px 0px;

  font-size: 14px;
  font-weight: 400;
  color: white;
}

.breadcrumbs__item {
  display: inline;
}

.breadcrumbs__item:not(:last-child)::after {
 content: " » ";
 margin: 0 3px 0 4px;
}

.main {
  margin-top: -42px;
}

.main__title {
  margin: 7px 0;

  font-size: 35px;
  font-weight: 700;
  color: white;
}

.benefits {
  display: block;

  padding: 4px 20px 10px;
  margin: -49px 0 0 0;

  color: #323232;

  background-image: url(../img/benefits__background.jpeg);
  background-color: #efe3cc;
  border: 1px solid #979797;
  border-radius: 15px;
}

.benefits__header {
  margin-bottom: 0;
  margin-top: 21px;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0;
  margin-bottom: 5px;
  margin-top: 8px;
}

.benefits__list-item {
  display: inline-block;
  width: 49%;
  margin-bottom: 9px;

  vertical-align: middle;
}

.benefits__list-item:nth-child(1) .benefits__list-item-icon {
  background-image: url(../img/ice-cream.svg);
}

.benefits__list-item:nth-child(2) .benefits__list-item-icon {
  background-image: url(../img/cow.svg);
}

.benefits__list-item:nth-child(3) .benefits__list-item-icon {
  background-image: url(../img/eco.svg);
}

.benefits__list-item:nth-child(4) .benefits__list-item-icon {
  background-image: url(../img/thermometer.svg);
}

.benefits__list-item:nth-child(2n) {
  padding-left: 22px;
}

.benefits__list-item-icon {
  display: table-cell;

  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
  background-size: contain;
}

.benefits__list-item-text {
  display: table-cell;
  padding: 13px 4px 0 8px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.articles__stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
}

.article {
  position: relative;
  display: inline-block;

  vertical-align: top;
  width: 560px;
  min-height: 220px;
  overflow: hidden;

  background-image: url(../img/articles__background.jpeg);
  background-color: #ffffff;
  background-position: 18% 39%;
  background-origin: border-box;
  border-radius: 15px;
}

.article__content {
  position: absolute;

  margin: 26px 19px;

  color: #323232;
}

.article__content a {
  color: #323232;
}

.article__rubric {
  font-size: 16px;
  font-weight: 500;
}

.article__rubric:hover {
  text-decoration: none;
}

.article__title {
  display: block;

  margin-top: 6px;
  width: 309px;

  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  line-height: 1.3;
}

.article__title:hover {
  color: #ffbc9e;
}

.subscribes {
  position: relative;

  display: inline-block;

  vertical-align: top;
  width: 560px;
  height: auto;

  background-color: #F8F7F4;
  border-radius: 15px;
  background-image: url("../img/subscribes__background.png");
}

.subscribes__wrapper {
  position: absolute;
  top: 0;
  left: 0;

  margin: 5px;
  height: 211px;
  width: 549px;

  border-radius: 15px;
  background-color: white;
}

.subscribes__text {
  height: 61px;
  margin: 30px 21px;
  overflow: hidden;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #5a5a5a;
}

.subscribes__form {
  display: block;

  margin: 40px 3px 16px 21px;
}

input[type="email"].subscribes__input {
  min-width: 348px;
  padding: 8px;
}

.subscribes__button {
  padding: 11px 18px 14px 18px;
  margin-left: 11px;
}

/* Блок с контактами на карте ниже */

.map {
  position: relative;

  height: 430px;
  margin: 40px -28px 0 -28px;

  background-image: url("../img/map.jpeg");
  background-size: cover;
}

.address {
  position: absolute;

  top: 62px;
  right: 28px;
  padding: 28px 25px;
  width: 252px;

  text-align: left;
  line-height: 1.43;
  color: #323232;

  background-color: #FFFFFF;
  border-radius: 15px;
}

.address__text {
  display: inline-block;

  vertical-align: middle;
  margin: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.address__text--bold {
  margin-top: 1px;

  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}

.address__text--br {
  padding-bottom: 15px;
}

.address a {
  color: #323232;
}

.address a:hover {
  text-decoration: none;
  color: #ffbc9e;
}

.address .address__button {
  display: block;

  margin-top: 25px;
  padding: 13px 26px;

  line-height: 18px;
  color: #fefefe;
}

.address .address__button:hover {
  color: #fefefe;
}

/* Блок с контактами на карте выше */

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0;
}

.footer__catalog--style {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.social-links {
  margin: 20px 0;
  padding-left: 1px;
  max-width: 20%;
  white-space: normal;
}

.social-links__item img {
  display: inline;

  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, .5);
  opacity: 0.8;
}

.social-links__item:hover img {
  opacity: 1;
}

.social-links__item:active img {
  opacity: 0.7;
  border: 2px solid rgba(255, 255, 255, .6);
}

.social-links__item {
  display: inline;
  padding-right: 9px;
}

.footer__about {
  display: inline-block;

  vertical-align: middle;
  padding-left: 0px;
  margin: 17px 15px;

  font-size: 13px;
  font-weight: 400;
}

.footer__developer {
  font-size: 12px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer__developer__logo {
  display: block;
  margin: 2px 0px 0px 1px;

  text-decoration: none;
}

.footer__about-item {
  position: relative;

  margin-bottom: 5px;
}

.footer__about-link--bold {
  font-weight: 700;
}

.footer__about-link--bold::after {
  content: "";
  display: inline-block;

  vertical-align: bottom;
  position: absolute;
  bottom: 1px;
  left: -22px;
  width: 15px;
  height: 13px;

  background: url(../img/heart.svg);
  background-repeat: no-repeat;
}

.footer__about-link {
  line-height: 1.38;
}

/* ВНИЗУ ПАГИНАЦИЯ  */

.pagination {
  text-align: right;
  margin: -7px -14px 30px 6px;
}

.pagination__link--active,
.pagination__item:active .pagination__link {
  display: inline-block;

  vertical-align: middle;
  width: 27px;
  height: 26px;

  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  line-height: 28px;
  color: #323232;

  background-color: #FFFFFF;
  border-radius: 50px;
}

.pagination__item {
  display: inline-block;

  vertical-align: middle;
}

.pagination__item:first-child {
  background-image: url(../img/pagination__left.svg);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__item:last-child {
  background-image: url(../img/pagination__right.svg);
}

.pagination__item:first-child,
.pagination__item:last-child {
  background-repeat: no-repeat;
  background-position: 52% 48%;
}

.pagination__item:first-child:active .pagination__link {
  background-position: 52% 48%;
  background-image: url(../img/pagination-black.svg);
  background-repeat: no-repeat;
}

.pagination__item:last-child:active .pagination__link {
  background-image: url(../img/pagination-black.svg);
  background-position: 52% 48%;
  background-repeat: no-repeat;
}

.pagination__link:hover {
  text-decoration: none;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.pagination__link {
  display: inline-block;

  vertical-align: middle;
  width: 27px;
  height: 26px;

  line-height: 28px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;

  border-radius: 50px;
}

.call-back--wrapper {
  display: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;

  background-color: rgba(0, 0, 0, 0.4);
}

.call-back--wrapper.active {
  display: block;
}

@-webkit-keyframes slide-down {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.call-back--wrapper.active .call-back {
  -webkit-animation: slide-down 0.5s;
          animation: slide-down 0.5s;
  opacity: 1;
  visibility: visible;
}

.call-back {
  position: absolute;

  left: 30%;
  top: 10%;
  min-width: 478px;
  z-index: 999999;
}

.call-back__window {
  padding: 1px 24px 20px 24px;

  background-color: #f8f7f4;
  border-radius: 10px;
}

@-webkit-keyframes shudder {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  50% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  75% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

@keyframes shudder {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  50% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  75% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.call-back__window.call-back--error {
  -webkit-animation: shudder 0.4s;
          animation: shudder 0.4s;
}

@keyframes shudder {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  50% {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  75% {
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  to {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

.call-back__window.call-back--error {
  -webkit-animation: shudder 0.4s;
          animation: shudder 0.4s;
}

.call-back__delete-button {
  display: block;
  position: absolute;
  right: 27px;
  top: 25px;
  width: 18px;
  height: 17px;

  border: none;
  background-image: url(../img/call-back__delete-button.svg);
  background-repeat: no-repeat;
  background-color: transparent;
}

.call-back__text {
  margin-bottom: 20px;

  font-size: 24px;
  font-weight: 500;
}

.call-back__input {
  display: block;

  min-width: 60%;
  margin-bottom: 20px;
}

.call-back__textarea {
  display: block;

  resize: none;
  min-width: 90%;
  margin-bottom: 25px;
  padding: 15px;

  border-radius: 5px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.call-back__button {
  padding: 14px 24px;
}
