body {
  margin: 0 auto;
  padding: 10px 27px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: regular;
  color: #323232;
  text-transform: none;
  background-color: #849D8F;
  width: 1200px;
}

.visually-hidden {
  display: none;
}
/* исправить */

ul {
  list-style-type: none;
}
/* исправить */

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #FFBC9E;
}

/* Ниже стили для шапки */

.header {
  display: inline-block;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header__menu {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
}

.header__menu-inner {
  display: none;
  background-color: #F8F7F4;
  position: absolute;
}

.header__menu-inner a {
  color: #323232;
}

.header__menu-inner a:hover {
  background-color: #FFBC9E;
}

.header__menu-item {
  display: inline-block;
  padding-right: 20px;
}

.header__menu-item:hover .header__menu-inner {
  display: inline-block;
  border: 1px solid white;
}

.header__menu-item a:hover {
  color: #323232;
  background-color: #F7F6F3;
}

.header__menu-item--active {
  background-color: #D07058;
}

.header__user-buttons {
  font-size: 14px;
  font-weight: medium;
  padding: 10px;
}

.header__find-link img {
  padding: 5px;
}

.header__find-link {
  background-color: rgba(255,255,255,.2);
  border-radius: 50px;
  height: 27px;
  display: block;
}

.header__user-buttons-find, .header__user-buttons-enter {
  display: inline-block;
  padding-right: 10px;
}

.header__user-buttons-basket, .header__enter-link {
  background-color: #9FB3A8;
  background-size: 103px;
  border-radius: 20px;
  display: inline-block;
  padding: 4px 10px;
}

.header__user-buttons-basket img, .header__enter-link img {
  display: inline;
  vertical-align: middle;
}

/* Выше стили для шапки */

.contacts {
  font-weight: bold;
  color: #FFFFFF;
  display: inline-block;
  float: right;
  line-height: .5;
}

.contacts__phone {
  font-size: 22px;
}

.contacts__worktime {
  font-size: 14px;
}

/* Выше блок с контактами */

.carusel {
  text-align: center;
  padding: 10em 0;
  margin-top: -15em;
  background-repeat: no-repeat;
  background-image: radial-gradient(circle closest-side, rgba(255,255,255,.5), transparent);
  }

.carusel__image h2 {
  font-weight: bold;
  font-size: 60px;
  color: #FFFFFF;
  margin-top: -5em;
}

.carusel__image-item {
  margin-top: 50px;
  text-align: center;
}

.full-basket {
  font-weight: bold;
  font-size: 32px;
  color: #FFFFFF;
  background-color: #E74A35;
  border-radius: 50px;
  width: 282px;
  padding: 15px 40px;
}

/* Малинка/шоколадка даром */

.gifts {
  display: flex;
  margin-top: -7em;
  justify-content: space-between;
}

.gifts-item {
  display: inline-block;
}

.gifts-item img {
  border-radius: 20px;
}

.gifts-item__content {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 18px;
  margin: 20px;
}

.gifts-item__title {
  font-size: 35px;
  margin: 0;
}

.gifts-item__link {
  display: block;
  background-color: #E74A35;
  border-radius: 20px;
  width: 192px;
}

/* Выше блок с акционными товарами */

.form-group {
  display: inline-block;
}

.catalog-item:hover {
  background-color:rgba(248, 247, 244, .2);
  width: 296px;
  height: 408px;
  text-align: center;
}

.catalog-item__hover-button {
  display: none;
}

.catalog-item:hover .catalog-item__hover-button {
  display: block;
}

.catalog-item img {
  border-radius: 50%;
}
.catalog__item {
  display: inline-block;
  width: 270px;
  color: #FFFFFF;
}

.catalog-item__price {
  font-weight: bold;
  font-size: 45px;
}

.catalog-item__weight {
  font-weight: bold;
  font-size: 45px;
}

.catalog-item__title {
  font-weight: medium;
  font-size: 16px;
}

.catalog-item__title-link {
  text-decoration: underline;
  text-decoration-color: rgba(255,255,255,.2);
}

.catalog {
  width: 1200px;
}

.gifts-item {
  position: relative;
}

.gifts-item__content {
  position: absolute;
  left: 0;
  top: 0;
}

.benefits {
  background-image: url(../img/benefits__background.jpeg);
  border: 1px solid #979797;
  border-radius: 15px;
  color: black;
  display: block;
  padding: 20px;
  margin: 20px;
}

.benefits__text {
  font-weight: bold;
  font-size: 24px;
}

.benefits__list-item:nth-child(1) .benefits__list-item-icon {
  background-image: url(../img/ice-cream.svg);
}

.benefits__list-item:nth-child(2) .benefits__list-item-icon {
  background-image: url(../img/eco.svg);
}

.benefits__list-item:nth-child(3) .benefits__list-item-icon {
  background-image: url(../img/cow.svg);
}

.benefits__list-item:nth-child(4) .benefits__list-item-icon {
  background-image: url(../img/thermometer.svg);
}

.benefits__list-item-icon {
  width: 49px;
  height: 49px;
  display: inline-block;
}

.benefits__list li {
  display: inline-block;
  column-count: 2;
}

.article {
  position: relative;
  background-image: url(../img/articles__background.jpeg);
  background-size: cover;
  background-position: center;
  background-origin: border-box;
  border-radius: 20px;
  width: 552px;
  height: 213px;
  display: inline-block;
  margin: 30px;
}

.article__content {
  position: absolute;
  color: #323232;
  margin: 20px;
}

.article__content a {
  color: #323232;
}

.article__rubric {
  font-size: 16px;
  font-weight: medium;
}

.article__title {

  font-size: 24px;
  font-weight: bold;
  display: block;
  width: 309px;
  text-decoration: underline;
  line-height: 1.3;
}

.subscribes {
  position: relative;
  background-color: #F8F7F4;
  border: 4px solid transparent;
  border-image-source: url("../img/subscribes__background.png");
  border-image-slice: 10;
  border-image-repeat: repeat;
  width: 552px;
  height: 213px;
  display: inline-block;
  margin: 30px;
}

.subscribes__text {
  font-size: 16px;
  font-weight: regular;
  margin: 30px;
}

.subscribes__form {
  margin: 30px;
  display: block;
}

/* Блок с контактами на карте ниже */

.address {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 305px;
}

.address__text {
  font-size: 14px;
  font-weight: regular;
  padding: 20px;
  display: inline-block;
}

.address__text--bold {
  font-size: 18px;
  font-weight: bold;
}

.address a {
  color: #000000;
}

.address .address__button {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: #E74A35;
  border-radius: 20px;
  width: 192px;
  text-align: center;
  padding: 30px;
}

/* Блок с контактами на карте выше */

.social-links__item img {
  display: inline;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.5);
}

.social-links__item {
  display: inline;
}

.footer__about {
  font-size: 13px;
  font-weight: regular;
}

.footer__developer {
  font-size: 12px;
  font-weight: regular;
  color: #FFFFFF;
}

.footer__about-item--icon {
  background-image: url(../img/heart.svg);
  background-repeat: no-repeat;
  width: 15px;
  height: 13px;
  display: inline-block;
}

.footer__about-link--bold {
  font-weight: bold;
}

/* Пагинация ниже  */

.pagination__item--active {
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  width: 29px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #353535;
}

.pagination__item {
  display: inline;
}

